@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kenia&family=Lilita+One&family=Righteous&display=swap');


* {
	font-family: 'Poppins', sans-serif;
	color: white;
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
	text-decoration: none;
	list-style: none;
}

body{
	background: linear-gradient(to bottom,#0c0c26,#56247d,#711354,#9370DB);
}

nav {
	background-color: #38006a;
}

.pl-menu {
	display: none;
	position: absolute;
	background-color: #38006a;
	width: 50%;
	height: calc(100vh - 50px);
	padding: 20px;
}

.pl-menu ul li {
	margin: 30px 0px;
}

.fade-entrada {
    animation: entrada 1s ease forwards;
}

.fade-salida {
	animation: salida 1s ease forwards;
}

@keyframes entrada {
    0% {
        opacity: 0;
        transform: translateX(-50%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes salida {
    0% {
        opacity: 1;
        transform: translateX(0%);
    }
    100% {
        opacity: 0;
        transform: translateX(-50%);
    }
}

.contenedor {
	width: 90%;
	max-width: 1200px;
	margin: auto;
}

.contenedor-links {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 50px;
}

.contenedor-links input {
	display: none;
}

.contenedor-links .logo {
	height: 30px;
}

.contenedor-links ul li {
	display: inline;
}

.contenedor-links ul li a {
	padding: 0px 10px 0px 10px;
}

.contenedor-links ul li a:hover {
	background-color: white;
	color: #38006a;
	border-radius: 12px;
}

.contenedor-principal{
	background-image: url('../img/main-background.jpg');
    background-size: cover;
    background-position: center;
    height: calc(100vh - 50px);
    display: flex;
	justify-content: center;
	align-items: center;
	color:#E6E6FA;
}

.contenedor-principal .contenedor h1 {
	font-family: 'Lilita One', cursive;
	font-size: 80px;
	text-shadow: 20px 20px 20px #000;
	margin: 0 0 250px;
}

.contenedor-principal .contenedor h1:hover{
	color: #D8BFD8;
}
.contenedor-principal .contenedor p{
	margin: 0 0 30px ;
}

.contenedor-categorias{
	margin: 50px auto 70px auto;
}

h3{
	padding: 30px 0px 40px 0px;
	font-size: 50px;
	font-family: 'Righteous', cursive;
}

.grid-container {
	text-align: center;
    display: grid;
	width: 100%;
	margin: 20px auto;
}

.grid-item {
    cursor: pointer;
    transition: transform 0.2s;
	margin: 10px;
}

.grid-item:hover {
    transform: scale(1.1);
}

.grid-item img {
    width: 60%; 
    margin: auto;
}

.grid-item a{
	display: block;
}

.contenedor-fondos {
	width: 100%;
	margin: auto;
	display: grid;
}

.fondo {
	margin: 5px;
	background-color: #fff;
	border-radius: 4px;
}

.fondo img {
	border-radius: inherit;
	width: 100%;
	object-fit: cover;
	height: 100%;
}


footer {
	background-color:#38006a;
	color: #fff;
	padding: 20px 0;
	text-align: center;
	margin-top: 40px;
}

.footer-content {
	max-width: 960px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between; 
	align-items: center; 
}

.footer-content p {
	margin: 0;
}

.footer-content ul {
	list-style: none;
	padding: 0;
	display: flex; 
}

.footer-content ul li {
	margin-right: 20px;
}

.footer-content ul li:last-child {
	margin-right: 0;
}

.footer-content ul li a {
	color: #fff;
	text-decoration: none;
	font-size: 12px;
}

.footer-content ul li a img {
	width: 20px;
	height: 20px; 
	vertical-align: middle; 
}

@media (max-width: 520px) {
	.contenedor-links ul {
		display: none;
	}

	.contenedor-links input {
		display: block;
	}

	.contenedor-fondos {
		grid-template-columns: repeat(2, 50%);
	}

	.grid-container {
		grid-template-columns: repeat(3, 33%);
	}

	.contenedor-principal .contenedor h1 {
		font-size: 60px;
	}

	h3 {
		font-size: 30px;
	}
}

@media(min-width:1200px){
    .contenedor-fondos {
        width: 1200px;
    }

    .contenedor-categorias {
    	width: 1200px;
    }
}

@media (min-width: 1024px) {
	.contenedor-fondos {
		grid-template-columns: repeat(4, 25%);
	}

	.grid-container {
		grid-template-columns: repeat(6, 16%);
	}
}

@media (min-width: 600px) {
	.grid-container {
		grid-template-columns: repeat(4, 25%);
	}
}

@media (min-width: 728px) {
	.contenedor-fondos {
		grid-template-columns: repeat(3, 33.3%);
	}

	.grid-container {
		grid-template-columns: repeat(5, 20%);
	}
}






